/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: Roboto, Arial, sans-serif;
  color: #222222;
  background: #FFFFFF;
}
.nav {
  color: #FFFFFF;
  background: rgba(160, 169, 178, 0.98);
  height: 50px;
  padding: 0 6%;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1000;
  font-weight: 500;
  animation: shrinkNav 2s ease-in-out;
}
@media (max-width: 500px) {
  .nav {
    position: fixed;
    background-color: rgba(160, 169, 178, 0);
  }
}
.logo-link {
  color: #FFFFFF;
  text-decoration: none;
}
.logo-link:hover {
  color: palegoldenrod;
}
.nav--list {
  display: flex;
  flex-flow: column;
  line-height: 8.5rem;
  font-size: 4.8rem;
  position: relative;
  bottom: 50vh;
}
.expand-nav {
  height: 100%;
  width: 100%;
  background: rgba(160, 169, 178, 0.98);
  z-index: 2000;
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease-in-out;
}
.nav-close {
  align-self: flex-end;
  padding: 40px 60px;
}
.nav--logo {
  font-size: 2.4rem;
}
.nav--logo:hover {
  color: #222222;
}
.nav--item {
  color: #FFFFFF;
  text-decoration: none;
}
.nav--item:hover {
  color: #222222;
}
.hide {
  display: none;
}
.home-container {
  max-width: 1024px;
  margin: 0 auto;
  line-height: 2.4rem;
}
.home-container .jumbotron {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/home/home-jumbotron.png');
  position: relative;
  height: 598px;
  font-size: 6.5rem;
  font-weight: bold;
  line-height: 7.4rem;
  padding: 360px 6% 0px;
  color: #FFFFFF;
  transition: all 2s;
}
@media (max-width: 800px) {
  .home-container .jumbotron {
    font-size: 5rem;
    line-height: 6rem;
  }
}
@media (max-width: 500px) {
  .home-container .jumbotron {
    height: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/home/home-mobile-jumbotron.png');
  }
  .home-container .jumbotron h1 {
    position: absolute;
    bottom: 30px;
  }
}
@media (max-width: 500px) {
  .home-container .jumbotron {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .home-container .jumbotron {
    margin-bottom: 30px;
  }
}
.home-container .content-top {
  padding: 0 6%;
}
@media (max-width: 800px) {
  .home-container .content-top {
    padding: 0 4%;
  }
}
@media (max-width: 500px) {
  .home-container .content-top {
    padding: 0 2%;
  }
}
.home-container .content-top .content-top--wrapper {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home-container .content-top .content-top--wrapper {
    flex-flow: column;
    align-items: center;
    padding: 0;
  }
}
.home-container .content-top .content-top--wrapper .content-top--img {
  width: 48.5%;
}
@media (max-width: 500px) {
  .home-container .content-top .content-top--wrapper .content-top--img {
    width: 290px;
    height: 275px;
  }
}
.home-container .content-top .content-top--wrapper .content-top--card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 95%;
  padding: 0 2%;
}
.home-container .content-top .content-top--wrapper .content-top--card p {
  padding: 30px 0;
  font-size: 1.45rem;
}
@media (max-width: 500px) {
  .home-container .content-top .content-top--wrapper .content-top--card p {
    padding: 0;
  }
}
.home-container .content-top .content-top--wrapper .content-top--card .content--btn {
  font-size: 1.6rem;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  height: 45px;
  width: 134px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .home-container .content-top .content-top--wrapper .content-top--card .content--btn {
    width: 100%;
    margin: 30px 0;
  }
}
.top-wrapper01 {
  flex-flow: row-reverse;
}
.content--subheaders {
  font-weight: 500;
  font-size: 2.2rem;
  color: #222222;
  text-align: center;
}
@media (max-width: 500px) {
  .content--subheaders {
    padding: 20px 0;
    text-align: left;
  }
}
.content-top--img {
  height: 275px;
}
@media (max-width: 500px) {
  .content-top--img {
    width: 290px;
    height: 275px;
  }
}
.top-img01 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/home/home-img-1.png');
}
@media (max-width: 500px) {
  .top-img01 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/home/home-mobile-img-1.png');
  }
}
.top-img02 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/home/home-img-2.png');
}
@media (max-width: 500px) {
  .top-img02 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/home/home-mobile-img-2.png');
  }
}
.recent-projects {
  padding: 0 20px;
}
.content-middle {
  padding: 100px 6% 50px;
}
@media (max-width: 500px) {
  .content-middle {
    padding: 0;
  }
}
.content-middle .content-middle--wrapper {
  display: flex;
  flex-flow: column;
  padding: 30px 0;
}
.content-middle .content-middle--wrapper .content-middle--img-title {
  width: 300px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  letter-spacing: 1rem;
  position: relative;
  top: -47px;
  align-self: flex-end;
}
@media (max-width: 500px) {
  .content-middle .content-middle--wrapper .content-middle--img-title {
    width: 90%;
    top: -30px;
    align-self: center;
  }
}
.content-middle .content-middle--wrapper .first-paragraph {
  margin-bottom: 34px;
}
.content-middle .content-middle--wrapper p {
  padding: 0 27%;
}
@media (max-width: 800px) {
  .content-middle .content-middle--wrapper p {
    padding: 0 15%;
  }
}
@media (max-width: 500px) {
  .content-middle .content-middle--wrapper p {
    padding: 0 10%;
  }
}
@media (max-width: 320px) {
  .content-middle .content-middle--wrapper p {
    padding: 0 4%;
  }
}
.content-middle .content-middle--wrapper .outskirts {
  align-self: flex-start;
}
@media (max-width: 500px) {
  .content-middle .content-middle--wrapper .outskirts {
    align-self: center;
  }
}
.content-middle--img {
  height: 230px;
}
.content-middle--img-title {
  background: #D8D8D8;
}
.middle-img01 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/home/home-villas-img.png');
}
@media (max-width: 500px) {
  .middle-img01 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/home/home-mobile-villas-img.png');
  }
}
.middle-img02 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/home/home-outskirts-img.png');
}
@media (max-width: 500px) {
  .middle-img02 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/home/home-mobile-outskirts-img.png');
  }
}
.middle-img03 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/home/home-the-blocks-img.png');
}
@media (max-width: 500px) {
  .middle-img03 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/home/home-mobile-the-blocks-img.png');
  }
}
p {
  font-size: 1.6rem;
}
.services {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.contact {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
footer {
  display: flex;
  flex-flow: column;
  padding: 40px 6% 0;
  max-width: 1024px;
  margin: 0 auto;
  transition: all 1s;
  background: #848384;
  font-size: 1.2rem;
  color: #FFFFFF;
}
@media (max-width: 800px) {
  footer {
    padding: 30px 5% 0;
  }
}
@media (max-width: 320px) {
  footer {
    padding: 20px 4%;
  }
}
footer .contact-info {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  footer .contact-info {
    align-items: center;
    flex-flow: column;
  }
}
footer .contact-info .email-signup {
  display: flex;
  flex-flow: column;
  width: 35%;
}
@media (max-width: 800px) {
  footer .contact-info .email-signup {
    width: 100%;
    align-items: center;
  }
}
@media (max-width: 500px) {
  footer .contact-info .email-signup {
    align-items: flex-start;
  }
}
footer .contact-info .email-signup h3,
footer .contact-info .email-signup h4 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  padding: 2px 0;
}
footer .contact-info .email-signup input {
  margin: 10px 0 10px;
  height: 42px;
  width: 250px;
  border-radius: 6px;
  font-size: 1.6rem;
  font-weight: 100;
  padding-left: 10px;
}
@media (max-width: 800px) {
  footer .contact-info .email-signup input {
    height: 35px;
  }
}
footer .contact-info .email-signup p {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin-bottom: 10px;
}
footer .contact-info .contact-address {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  footer .contact-info .contact-address {
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 320px) {
  footer .contact-info .contact-address {
    flex-flow: column;
    align-items: flex-start;
  }
}
footer .contact-info .contact-address .location {
  display: flex;
  flex-flow: column;
}
@media (max-width: 320px) {
  footer .contact-info .contact-address .location {
    margin-bottom: 20px;
  }
}
footer .contact-info .contact-address .location h4 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #FFFFFF;
  padding: 2px 0;
}
footer .contact-info .contact-address address {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
footer .contact-info .contact-address address p {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  line-height: 2.4rem;
  font-weight: 300;
}
footer .copyright {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  padding: 15px 0 10px;
  align-self: flex-start;
}
