/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: Roboto, Arial, sans-serif;
  color: #222222;
  background: #FFFFFF;
}
.Layout {
  width: 100vw;
}
nav {
  color: #FFFFFF;
  background: rgba(160, 169, 178, 0.98);
  height: 50px;
  padding: 0 8.4%;
  width: 100%;
  overflow: hidden;
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  font-weight: 500;
}
.nav--list {
  display: flex;
  justify-content: space-around;
  line-height: 8.5rem;
  font-size: 4.8rem;
}
.nav--logo {
  font-size: 2.4rem;
  border: 1px solid salmon;
}
.nav--logo:hover {
  color: #222222;
}
.nav--hamburger {
  border: 1px solid salmon;
}
.nav--item {
  display: none;
}
.nav--item:hover {
  color: #222222;
}
.home-container {
  max-width: 1024px;
  margin: 0 auto;
  line-height: 2.4rem;
  overflow: hidden;
  border: 2px solid red;
}
.home-container .jumbotron {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../src/img/home/home-jumbotron.png');
  height: 598px;
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 7.5rem;
  padding: 283px 8.3% 0px;
  color: #FFFFFF;
  border: 2px solid green;
}
.home-container .content-top {
  padding: 0 8.4%;
  border: 2px solid blue;
  overflow: hidden;
}
.home-container .content-top .content-top--wrapper {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.home-container .content-top .content-top--wrapper .content-top--img {
  width: 48.5%;
}
.home-container .content-top .content-top--wrapper .content-top--card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 48.5%;
  padding: 0 2%;
}
.home-container .content-top .content-top--wrapper .content-top--card p {
  padding: 30px 0;
  font-size: 1.45rem;
}
.home-container .content-top .content-top--wrapper .content-top--card .content--btn {
  font-size: 1.6rem;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  height: 45px;
  width: 134px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-wrapper01 {
  flex-flow: row-reverse;
}
.content--subheaders {
  font-weight: 500;
  font-size: 2.4rem;
  color: #222222;
}
.content-top--img {
  height: 275px;
}
.top-img01 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../src/img/home/home-img-1.png');
}
.top-img02 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../src/img/home/home-img-2.png');
}
.content-middle {
  padding: 100px 8.4% 50px;
}
.content-middle .content-middle--wrapper {
  display: flex;
  flex-flow: column;
  padding: 50px 0;
}
.content-middle .content-middle--wrapper .content-middle--img-title {
  width: 314px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  letter-spacing: 1rem;
  position: relative;
  top: -47px;
  align-self: flex-end;
}
.content-middle .content-middle--wrapper .first-paragraph {
  margin-bottom: 34px;
}
.content-middle .content-middle--wrapper p {
  padding: 0 27%;
}
.content-middle .content-middle--wrapper .outskirts {
  align-self: flex-start;
}
.content-middle--img {
  height: 230px;
}
.content-middle--img-title {
  background: #D8D8D8;
}
.middle-img01 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../src/img/home/home-villas-img.png');
}
.middle-img02 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../src/img/home/home-outskirts-img.png');
}
.middle-img03 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../src/img/home/home-the-blocks-img.png');
}
p {
  font-size: 1.6rem;
}
footer {
  padding: 65px 8.4% 0;
  width: 100vw;
  border: 2px solid blue;
  display: flex;
  flex-flow: column;
  background: #848384;
  font-size: 1.4rem h3;
  color: #FFFFFF;
}
footer .contact-info {
  display: flex;
  flex-flow: row;
}
footer .contact-info .email-signup {
  display: flex;
  flex-flow: column;
  padding-right: 6.6%;
}
footer .contact-info .email-signup input {
  margin: 18px 0 10px;
  height: 42px;
  width: 272px;
  border-radius: 6px;
  font-size: 1.6rem;
  font-weight: 100;
  padding-left: 10px;
}
footer .contact-info .email-signup p {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
footer .contact-info .contact-address {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
footer .contact-info .contact-address .locations {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
footer .contact-info .contact-address .locations h4 {
  margin-bottom: 10px;
}
footer .contact-info .contact-address address {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
footer .contact-info .contact-address address p {
  font-size: 1.3em;
  letter-spacing: 0.1rem;
  font-weight: 300;
}
footer h3,
footer h4 {
  font-size: 1.9rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  padding: 2px 0;
}
footer .copyright {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
  padding: 40px 0 10px;
}
